/** {
  outline: red 1px solid;
}*/

body {
	background-color: #000;
}

#white {
	/*background-color: white;*/
	background-image: url('../images/background.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*border-top: .5em solid red;
	border-bottom: .5em solid red;*/
	height: 29em;
	/*width: 100%;*/
	margin-top: 8em;
/*	margin-bottom: 8em;
*/	padding-left: 100px;
  	min-width: 1200px;
  	/*height: 500px;*/
  	position: relative;
  	z-index: 1;
	/*how can i gurantee top and bottom are both same size no scrolling?*/
}

#fighter-box {
	/*border: .1em solid blue;*/
	height: 29em;
	width: 30em;
	/*margin-left: 10em;*/
	float: left;
	overflow: hidden;
	display:inline-block;

}

.ryu {
	margin-left: -7em;
	margin-top: -2em;
}

#hadouken, #ready, #still, #throw, #cool {
  background-repeat: no-repeat;
}

#ready, #throw, #cool, .hulk {
  display: none;
}

#hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  top: 9em;
  left: 30em;
  position: absolute;
  z-index: 10;
}

#other {
	display: inline-block;
	height: 29em;
	width: 40em;
	float: right;
	/*background-color: #fff;*/
	margin-right: 10em;
	color: #fff;
	padding-top: 7em;
}
.how-to {
	font-family: 'Permanent Marker', cursive;
	font-size: 2em;
}
#mouse {
	text-align: left;
}
#click {
	text-align: right;
}

.hulk {
	filter: hue-rotate(90deg);
	 -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     filter: FlipH;
     -ms-filter: "FlipH";
     margin-top: -9em;
     margin-right:-5em;
}
#hulk-hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: right;
  top: 9em;
  left: 45em;
  position: absolute;
  z-index: 10;
  filter: hue-rotate(90deg);
	 -moz-transform: scaleX(-1);
     -o-transform: scaleX(-1);
     -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     filter: FlipH;
     -ms-filter: "FlipH";
}