/** {
  outline: red 1px solid;
}*/

body {
	background-color: #000;
}

#white {
	background-color: white;
	/*border-top: .5em solid red;
	border-bottom: .5em solid red;*/
	height: 29em;
	/*width: 100%;*/
	margin-top: 8em;
/*	margin-bottom: 8em;
*/	padding-left: 100px;
  	min-width: 1200px;
  	/*height: 500px;*/
  	position: relative;
  	z-index: 1;
	/*how can i gurantee top and bottom are both same size no scrolling?*/
}

#fighter-box {
	border: .1em solid blue;
	height: 29em;
	width: 30em;
	/*margin-left: 10em;*/
	float: left;

}

.ryu {
	margin-left: -7em;
	margin-top: -2em;
}

#hadouken, #ready, #still, #throw, #cool {
  background-repeat: no-repeat;
}

#ready, #throw, #cool {
  display: none;
}

#hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  top: 9em;
  left: 30em;
  position: absolute;
  z-index: 10;
}